.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0px;
}

.burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.burger-menu.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
}